@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
/*Estilos Universales*/
* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	
}
a{
	text-decoration: none;
}
.contenedor {
	margin: auto;
	padding: 0px 0px;
	background-color: snow;
}

/*Estilos tipo Etiqueta*/
.subTitulo {
	padding: 20px;
}

.subTitulo h2 {
	text-align: center;
	color: #262626; 
	text-transform: uppercase;
	font-size: 2.5rem;
	font-family: 'Poppins', sans-serif;
}

/*Botones*/

.textoBanner a {
	color: #FFF;
	font-size: 15pt;
	font-family: 'arial';
	letter-spacing: 1px;
	padding: 10px 50px;
	border: 1px solid #CCC;
	background: rgba(13, 13, 13, 0.55);
	text-decoration: none;
	transition: .5s all;
}

.textoBanner a:hover {
	background: #111;
	border: 1px solid #111;
}

/*BARRA DE NAVEGACION*/
.encabezado {
	padding: 20px;
	margin: auto;
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	position: fixed;
	transition: 0.7s;
	z-index: 10;
}
hr{
	width: 70%;
	margin: auto;
}
.encabezado.abajo {
	background: white;
	padding: 10px 30px;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.8	);

}

.encabezado.abajo .logoTexto {
	color: black;

}

.encabezado.abajo .menu a {
	color: black;
	text-shadow: none;
}


.logoTexto {
	position: relative;
	color: white;
	font-weight: bold;
	font-size: 2.5em;
	letter-spacing: 2px;
	transition: 1.5s;
	text-decoration: none;
	color: red;
}

.container-slider {
	position: relative;
	width: 100%;
	height: 100vh;
}

.menu {
	float: right;
	list-style: none;
	padding: 0 10px;
	z-index: 1000;
}

.menu ul {
	list-style: none;
	padding: 0 10px;
}

.menu li a {
	text-align: center;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	transform: scale(1.1);
}

.menu ul li {
	position: relative;
	transition: 2s linear;
	z-index: 1000;
	display: inline-block;
	padding: 13px;
}

.menu ul li a {
	text-shadow: black 0.1em 0.1em 0.2em;
	color: white;
	text-align: center;
	font-size: 17px;
	padding: 12px 20px;
	transition: .2s linear;
}

.menu li a:hover {
	border-bottom: 2px solid darkred;
	padding-bottom: 3px;
}


/*_____________________________________*/

/*Estilos ICONOS*/
.right-menu a{
    margin: 0px 18px;
    font-size: 1.5rem;
    color: black;
}
.right-menu a:hover{
    color: rgb(138, 125, 125);
    transition: all ease 0.3s;
}
/*INPUT*/
.search-cancel:hover{
    color: red;
    transition: all ease 0.3s;
}
.search-bar{
    width: 100%;
    height: 300px;
    background: #fff;
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    box-shadow: 2px -5px 30px rgba(0, 0, 0, 0.1);
    z-index: 101;
    animation: search 0.3s;
}
.search-input{
    width: 90%;
    border-bottom: 2px solid #555;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
}
.search-bar input{
    width: 100%;
    padding: 30px;
    border: none;
    outline: none;
    font-size: 2rem;
    margin: 20px;
    padding: 0px 20px;
}
.search-cancel{
    color: #272727;
    font-size: 2rem;
    padding-right: 40px;
}
.search-bar{
    display: none;
}
.search-bar-active{
    display: flex;
}
@keyframes search{
    0%{
        bottom: -300px;
    }
    100%{
        bottom: 0px;
    }
}
/*Login and Sign up form*/
.form{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 102;
}
.login-form,
.sign-up-form{
    width: 420px;
    padding: 20px 10px;
    background-color: #fff;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
}
.login-form form,
.sign-up-form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
}
.login-form strong,
.sign-up-form strong{
    color: #272727;
    font-size: 2rem;
    margin: 2px 7px 7px 7px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
    
}
.login-form input,
.sign-up-form input{
    width: 90%;
    height: 45px;
    margin: 6px 0px;
    padding: 0px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    border: 7px;
    
}
.login-form input::placeholder,
.sign-up-form input::placeholder{
    color: rgba(0, 0, 0,0.5);
}
.login-form input[type="submit"],
.sign-up-form input[type="submit"]{
    background-color: black;
    color: #fff;
    border: none;
    outline: none;
    text-transform: uppercase;
    margin-top: 0px;
    border-radius: 3px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    
}
.form-btns{
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 30px;
}
.form-btns a{
    color: #4d4d4d;
    font-size: 0.8rem;
}
.forget{
    margin-right: 55px;
}
.sign-up-btn{
    border-bottom: 1px solid #868686;
    line-height: 16px;
}
.form-cancel{
    position: absolute;
    right: 20px;
    top: 10px;
    color: #868686;
}
.login-form,
.sign-up-form,
.form{
    display: none; 
    
}
.login-active,
.login-active .login-form{
    display: flex;
    animation: fade 0.3s;
}
.sign-up-active,
.sign-up-active .sign-up-form{
    display: flex;
    animation: fade 0.3s;   
}
.fa-shopping-cart{
    position: relative;
}
.num-cart-product{
    position: absolute;
    top: -17px;
    right: -17px;
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: #4d4d4d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/*Estilos a los contenedores DIV*/
.banner {
	background-image: url(imgLoúltimo/fondoBanner2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: row;

}

.servicios {
	padding: 15px 150px 15px 150px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.padre {
	padding: 15px 150px 15px 150px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.padreZapa {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 15px 150px 15px 150px;
	width: 100%;
}


.logo {
	margin-left: 10px;
}

.nav {}

.textoBanner {
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 100px;
	margin-top: 10%;
}

.miniBanner {
	padding: 50px;
	width: 100%;
}

.textoBanner p {
	font-size: 20px;
}

.textoBanner h1 {
	font-size: 50px;
}


.miniBanner img {
    width: 80%;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
		rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
	padding: 2px;
}

.hijoZapa {
	margin: 5px;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
	font-weight: normal;
	
}
.hijoZapa p{
	font-size: 14px;
}
.hijoZapa a{
	color: rgb(0, 0, 0);
	font-size: 13pt;
	text-decoration: none;
	font-weight: bold;
	transition: .2s linear;

}
.hijoZapa a:hover {
	border-bottom: 2px solid red;
	padding-bottom: 3px;
	transform: scale(1.1);
}

.hijo {
	margin: 5px;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.hijo:hover {
	outline: none;
	border: 1px solid black;
	transition: all 2s;
}

.hijo img {
	height: 350px;
}

.itemServicios {
	margin: 5px;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.itemServicios a {
	text-decoration: none;
	color: #000;
}
.itemServicios a:hover{
	color: red;
	transition: .5s all;
}
	
/*SLIDER*/

#container-slider {
	position: relative;
	display: block;
	width: 100%;
}

#slider {
	position: relative;
	display: block;
	width: 100%;
	height: 100vh;
	min-height: 500px;
}

#slider li {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	width: 100%;
	height: 100%;
	display: block;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
	z-index: -1;
	opacity: 0;
}

#container-slider .arrowPrev,
#container-slider .arrowNext {
	font-size: 30pt;
	color: rgba(204, 204, 204, 0.65);
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50px;
	z-index: 2;
}

#container-slider .arrowNext {
	left: initial;
	right: 50px !important;
}

.content_slider {
	padding: 15px 30px;
	color: #FFF;
	width: 100%;
	height: 100%;
}

.content_slider div {
	text-align: center;
}

.content_slider h2 {
	font-family: 'arial';
	font-size: 30pt;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.content_slider p {
	font-size: 15pt;
	font-family: 'arial';
	color: #FFF;
	margin-bottom: 20px;
}

#slider li .content_slider {
	background: rgba(0, 0, 0, 0.50);
	padding: 10px 125px;
}

.content_slider {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btnSlider {
	color: #FFF;
	font-size: 15pt;
	font-family: 'arial';
	letter-spacing: 1px;
	padding: 10px 50px;
	border: 1px solid #CCC;
	background: rgba(13, 13, 13, 0.55);
	border-radius: 31px;
	text-decoration: none;
	transition: .5s all;
}

.btnSlider:hover {
	background: #111;
	border: 1px solid #111;
}

.listslider {
	position: absolute;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	left: 50%;
	bottom: 10%;
	list-style: none;
	z-index: 2;
	transform: translateX(-50%);
}

.listslider li {
	border-radius: 50%;
	width: 10px;
	height: 10px;
	cursor: pointer;
	margin: 0 5px;
}

.listslider li a {
	background: #CCC;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	display: block;
}

.item-select-slid {
	background: #FFF !important;
}

@media screen and (max-width: 460px) {
	.content_slider h2 {
		font-size: 15pt !important;
	}

	.content_slider p {
		font-size: 12pt !important;
	}

	#container-slider .arrowPrev,
	#container-slider .arrowNext {
		font-size: 20pt;
	}

	#container-slider .arrowPrev {
		left: 15px;
	}

	#container-slider .arrowNext {
		right: 15px !important;
	}

	#slider {
		height: 400px;
		min-height: 400px;
	}

	#slider li .content_slider {
		padding: 10px 35px;
	}

	.btnSlider {
		padding: 10px 30px;
		font-size: 10pt;
	}

}

/*BANNER 2*/
.banner2{  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px 40px;
    display: flex;
    justify-content: center; 
}
.hijoBanner2{
    width: 50%;
}
.hijoBanner2 h1{
	color: white;
	font-size: 30.1px;
	text-align: center;
	text-shadow: black 0.1em 0.1em 0.2em
}
.hijoBanner2 a{
	width: 200px;
    margin: auto;
	text-align: center;
	color: #FFF;
	font-size: 15px;
	letter-spacing: 1px;
	padding: 10px 40px;
	border: 1px solid #CCC;
	background: rgba(13, 13, 13, 0.55);
	text-decoration: none;
	transition: .5s all;
	display: block;
}
.hijoBanner2 a:hover{
	background: #111;
	border: 1px solid #111;
}



/*FOOTER*/
/*Estilos al pie de pagina*/
.box-3{
	margin-top: 30px ;
	margin-bottom: 30px;
	padding: 15px 300px 15px 300px;
	width: 100%;
	display: flex;
    justify-content:space-between;
    flex-direction: row;	
}
.box-3 li{
	list-style: none;
}
.menu-Text{
    margin-bottom: 25px;
}
.foot h4{
	margin: 0 0 5px 0;

}

.foot ul li a{
	color: blue;
	font-size: 15px;
	text-decoration: none;
}

.foot ul li a:hover{
	text-decoration: underline;
	color: rgb(104, 202, 238);
}
/*Debajo del pie de pagina*/
.footer-page{
	padding: 30px;
    background: black;

}
.footer-container{
    text-align: center;
}
.footer-container a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.footer-copyright p{
	font-size: 13px;
}
.footer-copyright{
	margin-top: 30px;
    color: white;
}
.imgFoot{
	border: 2px black solid;
}
.logitos{
	margin-top:10px;
}
.logitos:hover{
	transform: scale(1.1);
}
